.no-scroll::-webkit-scrollbar:vertical {
  display: none;
}

.no-scroll::-webkit-scrollbar:horizontal {
  display: inherit;
}

.no-scroll::-webkit-scrollbar {
  width: 1em;
}


.no-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.no-scroll::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 2px solid slategrey;
}

.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content {
  background-color: #e6f2fd;
}

.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-standard, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-large {
  color: #5c7080;
}

.pt-tree-node-content {
  cursor: pointer;
}
.pt-tree-node-label {
  overflow: initial;
}

:focus {
  outline: none;
}
